@{
    ViewData["Title"] = "Home";
}

<div class="about"> 
    <div class="container">
        <div class="about-top grid-1">
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/images/abt-1.jpg" alt=""/>
                    <figcaption>
                        <h2>Gamificação</h2>
                        <p>Avalie, faça upload de novos templates e ganhe pontos</p>	
                    </figcaption>			
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/images/abt-2.jpg" alt=""/>
                    <figcaption>
                        <h4>COLABORAÇÃO</h4>
                        <p>Faça upload de novos tamplates e aumente o conteúdo da página</p>	
                    </figcaption>			
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/images/abt-3.jpg" alt=""/>
                    <figcaption>
                        <h4>INTERAÇÃO</h4>
                        <p>Interaja com outros usuários e avalie os tamplates</p>	
                    </figcaption>			
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="product">
    <div class="container">
        <div class="product-top">
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Projeto", "Templates", new { Id = 0 })" class="mask"><img class="img-responsive zoom-img" src="~/images/s-1.png" alt="" /></a>
                        <div class="product-bottom">
                           <h3>Plano de Projeto</h3>
						   <p>Tipo do Documento: qualquer coisa</p>
					       <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">FREE</span></h4>
						   <a href="Register.cshtml">
								<img src="images/fav.png" alt="HTML tutorial" style="width:22px;height:22px;border:0;">
						   </a>
						</div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Comunicacao", "Templates", new { Id = 0 })" class="mask"><img class="img-responsive zoom-img" src="~/images/p-2.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Plano de Comunicação</h3>
                            <p>Tipo do Documento:</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">FREE</span></h4>
							<a href="Register.cshtml">
								<img src="images/fav.png" alt="HTML tutorial" style="width:22px;height:22px;border:0;">
						    </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Riscos", "Templates", new { Id = 0 })" class="mask"><img class="img-responsive zoom-img" src="~/images/p-3.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Plano de Riscos</h3>
                            <p>Tipo do Documento:</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">FREE</span></h4>
							<a href="Register.cshtml">
								<img src="images/fav.png" alt="HTML tutorial" style="width:22px;height:22px;border:0;">
						    </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Testes", "Templates", new { Id = 0 })" class="mask"><img class="img-responsive zoom-img" src="~/images/p-4.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Plano de Testes</h3>
                            <p>Tipo do Documento:</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">FREE</span></h4>
                            <a href="Register.cshtml">
								<img src="images/fav.png" alt="HTML tutorial" style="width:22px;height:22px;border:0;">
						    </a>                    
						</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Configuracao", "Templates", new { Id = 0 })" class="mask"><img class="img-responsive zoom-img" src="~/images/p-5.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Plano de Gerência de Configuração</h3>
                            <p>Tipo do Documento:</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">FREE</span></h4>
							<a href="Register.cshtml">
								<img src="images/fav.png" alt="HTML tutorial" style="width:22px;height:22px;border:0;">
						    </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Encerramento", "Templates", new { Id = 0 })" class="mask"><img class="img-responsive zoom-img" src="~/images/p-6.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Relatório de Encerramento de Projeto</h3>
                            <p>Tipo do Documento:</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">FREE</span></h4>
							<a href="Register.cshtml">
								<img src="images/fav.png" alt="HTML tutorial" style="width:22px;height:22px;border:0;">
						    </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>